In [1]:
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

Проверяем, что версия корректна

In [4]:
%%sql
select SQLITE_VERSION()

Done.

[('3.25.2',)]

## Задание 1
Для каждого артиста вывести все жанры, которые есть в его песнях, и для каждого жанра вывести наиболее продолжительную песню

## Задание 2 
Для каждой компании вывести трек, за который компания заплатила наибольшую сумму, вывести жанр данного трека и его альбом

## Задание 3 
Вывести все интервалы, в которые не было нанято ни одного сотрудника. Минимальная дата - 1999-01-01, Максимальная - 2020-01-01.

## Задание 4
Для каждого плейлиста вывести трек с наибольшей продолжительностью, трек с наименьшей стоимостью (если у треков одинаковая стоимость, то вывести тот, который весит меньше всех), и жанр данного плейлиста (жанром плейлиста называется тот жанр, треков которого больше всех в плейлисте).

## Задание 5

Для каждого жанра вывести треки, которые встречались в большем числе заказов, 
сумму, потраченную, на данные треки, количество купленных треков и компанию, которая больше всех приобрела данную композицию